@use "../../abstracts/mixsins";
@use "../../abstracts/variables";

.featured {
  @include mixsins.flex-box(column, center, center,false,88px);

  &-box {
    @include mixsins.flex-box(row, center, center);
    &-grid {
      width: 80%;
      display: grid;
      grid-template-columns: auto;
      gap: 64px 16px;
      // display: ;

      @include mixsins.response-to('tablet'){
        grid-template-columns: auto auto;
      }
      @include mixsins.response-to('hd'){
        grid-template-columns: auto auto auto auto;
      }
      

    }
  }
}
