@use "../abstracts/variables";
@use "../abstracts/mixsins";
@use "sass:map";

$them-color: variables.$them-color;

button {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 16px 8px;
  font-weight: 700;
  line-height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  text-transform: capitalize;
  transition: 200ms ease-in;
  animation: button 1500ms cubic-bezier(0.08, 0.61, 0.75, 0.83) forwards;

  @include mixsins.set-padding-btn("lg");

  :nth-child(1) {
    border-radius: 10px;
  }

  &-search {
    margin-top: 6px;
  }
}
.find-btn {
  background-color: map.get($them-color, warning);
  color: white;
}
.btn-delivery {
  background-color: variables.$warning;
  color: map.get($them-color, warning);
}
.btn-pickup {
  color: variables.$gray-600;
}
.btn-login {
  width: auto;
  background-image: map.get(variables.$gradient, yellow-to-orange);
  background-clip: text;
  color: transparent;
  @include mixsins.set-padding-btn("lg");
  &:hover {
    box-shadow: variables.$shadow-yellows;  
  }
}
.button-search {
  padding: 4px;
  display: block;
  width: auto;
}
.button-remaining {
  color: map.get($them-color, warning);
  background-color: variables.$warning;
  width: auto;
  @include mixsins.set-padding-btn("xs");
}

.slider-item-left,
.slider-item-right {
  width: auto;
  padding: 10px 16px;
  border-radius: 100%;
  font-size: 24px;
  background-color: variables.$yellow;
  border: 1px solid #faaa01;
  transition: 100ms ease-in;
  color: white;

  &:hover {
    box-shadow: variables.$shadow-yellows;
  }
}

.button-order {
  width: 100%;
  background-color: map.get(variables.$them-color, warning);
  color: white;
  transition: 100ms ease-in;
  font-size: 18px;
  &:hover {
    box-shadow: variables.$shadow-yellows;
  }
}
.btn-offer {
  width: auto;
  background-color: variables.$red;
  color: white;
  transition: 200ms ease-out;
  @include mixsins.set-padding-btn("md");

  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(241, 114, 40, 1);
  }
}

.btn-time {
  width: auto;
  background-color: map.get(variables.$them-color, primary);
  color: white;
  transition: 200ms ease-out;
  @include mixsins.set-padding-btn("md");

  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(255, 179, 14, 0.5);
  }

  .box {
    @include mixsins.flex-box(row, center, center);
  }
}

.button-cheack-tomorrow {
  width: auto;
  background-color: variables.$orange;
  color: map.get(variables.$them-color, warning);
  @include mixsins.set-padding-btn("md");
}

.button-cheack-open {
  width: auto;

  background-color: variables.$light-green;
  color: map.get(variables.$them-color, success);
  @include mixsins.set-padding-btn("md");
}

.button-cheack-open {
  width: auto;
  background-color: variables.$light-green;
  color: map.get(variables.$them-color, success);
  @include mixsins.set-padding-btn("md");
}

.button-view {
  width: auto;
  font-size: 14px;
  background-image: map.get(variables.$gradient, view);
  color: white;
  @include mixsins.set-padding-btn("lg");
  &:hover {
    box-shadow: variables.$shadow-yellows;
  }
  @include mixsins.response-to("fhd") {
    padding: 21px 48px;
  }
}

.button-view-search {
  width: auto;
  color: map.get(variables.$them-color, primary);
  margin-right: 14px;
  @include mixsins.set-padding-btn("xs");

  &:hover {
    box-shadow: variables.$shadow-yellows;
  }
}
