@keyframes heading {
  0% , 25%{
    transform: translateY(30px);
    opacity: 0;
  }
  25%,50% {
    transform: translateY(20px);
    opacity: 0.25;
  }
  50% , 75% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  75% ,100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes button {
  0% , 25%{
    opacity: 0;
  }
  25%,50% {
    opacity: 0.25;
  }
  50% , 75% {
    opacity: 0.5;
  }
  75% ,100% {
    opacity: 0.75;
  }
   100% {
    opacity: 1;
  }
}

@keyframes framer {
  0%{
  opacity: 0.5;
  }
  15%{
  opacity: 0.7;
  }
  30%{
  opacity: 0.5;
  }
  45%{
  opacity: 0.7;
  }
  60%{
  opacity: 0.5;
  }
  75%{
  opacity: 0.7;
  }
  90%{
  opacity: 0.5;
  }
  100%{
    opacity: 0.7;
  }
}
@keyframes show-image{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}